:root {
    --color-principal: #1e8ad9;
    --color-secundario: #46a6ea;
    --color-terciario: #86c4f3;
    --color-adicional-1: #F16D1C;
}

* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-principal);

}

h1 {
    font-size: 14px;
    margin-bottom: 8px;
    color: var(--color-terciario);
}

h2 {
    font-size: 14px;
    margin-bottom: 14px;
    color: var(--color-terciario);
}

header {
    background-color: var(--color-adicional-1);
    background-color: #1e8ad9;
    color: white;
    padding: 20px;
    text-align: center;
}

.contenedor-v {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;

}

#check {
    display: none;
}

.icons {
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
    display: none;
}

.fa-solid {
    position: absolute;
    left: 20%;
    color: #1e8ad9;
}

.input-buscador {
    padding: 8px 0px 8px 40px;
    border-radius: 5px;
    border: none;
}

.fas-users {
    padding: 5px;
    border-radius: 50%;
    border: 1px solid white;
    align-items: center;

}

.users {
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid white;
    color: white;
}

.shopping-cart {
    width: 25px;
    height: 25px;
    display: grid;
    place-items: center;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: white;
    color: var(--color-principal);
}

.linea {
    display: flex;
    justify-content: center;
    gap: 1px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;

}

.linea::before,
.linea::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 47%;
    height: 1px;
    background: linear-gradient(70deg, var(--color-adicional-1), transparent);
}

.linea::before {
    left: 0;
    transform: translateY(-50%);
    background: linear-gradient(70deg, transparent, var(--color-adicional-1));

}

.linea::after {
    right: 0;
    transform: translateY(-50%);

}




.caja {
    width: 5px;
    height: 5px;
    border: 2px groove;
}

#categories-nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

#categories-nav a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #46a6ea;
    border-radius: 5px;
    font-size: 10px;
}


#categories-nav a:hover {
    background-color: #86c4f3;
}
#products-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 2fr)); 
    gap: 5px;
    padding: 20px;
}

.product {
    border: 3px solid #F16D1C; 
    width: 100px;
    height: auto;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    position: relative; 
}

.product img {
    width: 100%; 
    height: auto;
    border-radius: 5px;
}

.product h3 {
    position: absolute; 
    bottom: 5px; 
    left: 0; 
    right: 0; 
    text-align: center; 
    margin: 10px; 
    font-size: 14px; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (min-width: 350px){
    header{
        padding: 10px;
    }
     .icons{
        display: inline-flex;
    }
    #check:checked~.icons #menu-icon{
        display: none;
    }
    .icons #close-icon{
        display: none;
    }
    #check:checked~.icons #close-icon{
        display: block;
    }
   
    .linea::before,
    .linea::after {
        width: 45%;
    }

}

@media (min-width: 580px){
    #categories-nav{
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    #categories-nav a{
        font-size: 14px;
    }
    .linea::before,
    .linea::after {
        width: 41%;
    }


}
@media (min-width: 768px) {
    .contenedor-div{
        display: flex;
        justify-content: center;
        gap: 20px;
        
    }
    .icons{
        display: inline-flex;
    }
    #check:checked~.icons #menu-icon{
        display: none;
    }
    .icons #close-icon{
        display: none;
    }
    #check:checked~.icons #close-icon{
        display: block;
    }
    .linea::before,
    .linea::after {
        width: 43%;
    }
    
}
@media (min-width: 992px){

}
@media (min-width: 1200px){

}



